*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a{
  text-decoration: none;
  width: 100%;
}

div img{
  display: block;
  max-width: 100%;
}

.flex-container{
  display: flex;
  max-width: 992px;
  margin: auto;
  width:100%;
  min-width: 320px;
  padding: 10px 15px;
}

.btn{
  background-color: #122A57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*Menu*/
header{
  background-color: #122A57;
  height: 5rem;
  display: flex;
  align-items: center;
  color: #fff;
}

header .list-items{
  display: flex;
  max-width: 260px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.list-items li a{
  color: #fff;
}  

header .menu{
  justify-content: space-between;
}
/*Fim Menu*/

/*Apresentacao*/
.apresentacao{
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}
.apresentacao__texto{
  min-height: 200px;
}
.apresentacao__texto h1{
  color: #122A57;
  font-size: 48px;
  margin-bottom: 10px;
}

/*Fim Apresentacao*/

/*quem somos*/
#quem-somos{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#quem-somos h2{
  font-size: 32px;
  color: #122A57;
  display: flex;
  margin-bottom: 20px;
}

#quem-somos h2:before{
  content: "";
  height: 40px;
  width: 5px;
  margin-right: 5px;
  background-color: #122A57;
  position: relative;
}

#quem-somos p{
  margin-bottom: 10px;
  width: 90%;
}

#quem-somos img{
  min-width: 420px;
}
/*Fim quem somos*/

/*serviços*/
.container-externo{
  background-color: #122A57;
  width: 100%;
}

.servicos{
  flex-direction: column;
  padding: 50px 0 100px 0;
}
.servicos h2{
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}

.servicos__list{
  display: flex;
  justify-content: space-between;
}

.servicos__list .servicos__item{
  text-align: center;
}

.servicos__list .servicos__item a{
  width: 220px;
  background-color: #fff;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  text-decoration: none;
  color: #122A57;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 700;
}

.servicos__list .servicos__item p{
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}

.servicos__list .servicos__item img{
  width: 80%;
  margin: auto;
}
/*Fim serviços*/

/*planos*/

.planos{
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
}
.planos h2{
  font-size: 32px;
}
.planos__list{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.planos__item{
 flex: 1;
 border: 5px solid #122A57;
 margin-right: 20px;
 padding: 10px;
 max-width: 240px;
}

.planos__item .btn {
  margin: auto;
  margin-bottom: 20px;
}

.planos__item h3{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.planos__item h3::after{
  content: '';
  background-color: #122A57;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}
 
.planos__item ul{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.planos__item ul li{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 4px;
}

.planos__item ul li::before{
  content: "";
  background-color: #122a57;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}



/*Fim planos*/
/*rodape*/

footer{
  background-color: #122A57;
  height: 70px;
  display: flex;
  align-items: center;
}

footer .rodape{
  display: flex;
  justify-content: space-between;
  color: white;
}

.git{
  text-decoration: none;
  color: white;
  transition: 500ms;
}
.git:hover{
  background-color: white;
  padding: 5px 10px;
  color: #122A57;
  border-radius: 50px;
}
/*Fim rodape*/


/*mobile*/

@media screen and ( max-width:992px){
  
  .flex-container{
    flex-direction: column;
  }

  header{
    height: 100px;
  }
  header .menu{
    margin: 10px;
  }

  .apresentacao{
    flex-direction: column-reverse;
    justify-content: center;
  }


  .apresentacao img{
    padding: 0;
    margin: 0;
    width: 90%;
    align-self: center;
  }

  .apresentacao__texto{
    width: 100%;
  }

  #quem-somos{
    flex-direction: column-reverse;
  }
  #quem-somos img{
    width: 100%;
    margin: auto;
  }

  .servicos__list{
    flex-direction: column;
    margin-bottom: 20px;
  }
  .servicos__item{
    align-self: center;
  }

  .servicos__item img{
    width: 50%;
    margin: auto;
  }

  .planos__list{
    flex-direction: column;
    align-items: flex-start;
  }

  .planos__list .planos__item{
    max-width: 85%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }

}
/*fim mobile*/